@charset 'utf-8';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #000;
}

.container{
    width: 100%;
    height: 100vh;
    background: url('adventure\ time.jpg');
    background-repeat: no-repeat;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container.second{
    background-color:rgba(128, 128, 128, 0.384);
}

:root{
    --pele: #ebcfc4;
    --boca: #000;
    --olho: #000;
    --interior: #ff1;
}
.pixel{
    position: absolute;
    top: 30px;
    left: 50%;
    margin-left: -200px;
    width: 0;
    height: 0;
    box-shadow: 0px 0px 1px 5px #fff,/*contorno do chapéu*/
                10px 0px 1px 5px #fff,
                20px 0px 1px 5px #fff,
                30px 0px 1px 5px #fff,
                40px 10px 1px 5px #fff,
                50px 10px 1px 5px #fff,
                60px 20px 1px 5px #fff,
                70px 30px 1px 5px #fff,
                70px 40px 1px 5px #fff,
                70px 50px 1px 5px #fff,
                80px 60px 1px 5px #fff,
                90px 60px 1px 5px #fff,
                100px 60px 1px 5px #fff,
                110px 60px 1px 5px #fff,
                120px 60px 1px 5px #fff,
                130px 60px 1px 5px #fff,
                140px 60px 1px 5px #fff,
                150px 60px 1px 5px #fff,
                160px 50px 1px 5px #fff,
                160px 40px 1px 5px #fff,
                160px 30px 1px 5px #fff,
                170px 20px 1px 5px #fff,
                180px 10px 1px 5px #fff,
                190px 10px 1px 5px #fff,
                200px 0px 1px 5px #fff,
                210px 0px 1px 5px #fff,
                220px 0px 1px 5px #fff,
                230px 0px 1px 5px #fff,
                240px 10px 1px 5px #fff,
                250px 20px 1px 5px #fff,
                250px 30px 1px 5px #fff,
                250px 40px 1px 5px #fff,
                250px 50px 1px 5px #fff,
                250px 60px 1px 5px #fff,
                250px 70px 1px 5px #fff,
                250px 80px 1px 5px #fff,
                250px 90px 1px 5px #fff,
                250px 100px 1px 5px #fff,
                250px 110px 1px 5px #fff,
                250px 120px 1px 5px #fff,
                250px 130px 1px 5px #fff,
                250px 140px 1px 5px #fff,
                250px 150px 1px 5px #fff,
                250px 160px 1px 5px #fff,
                250px 170px 1px 5px #fff,
                250px 180px 1px 5px #fff,
                250px 190px 1px 5px #fff,
                250px 200px 1px 5px #fff,
                250px 210px 1px 5px #fff,
                250px 220px 1px 5px #fff,
                240px 220px 1px 5px #fff,
                230px 220px 1px 5px #fff,
                220px 220px 1px 5px #fff,
                210px 220px 1px 5px #fff,
                200px 220px 1px 5px #fff,
                190px 220px 1px 5px #fff,
                180px 220px 1px 5px #fff,
                170px 220px 1px 5px #fff,
                160px 220px 1px 5px #fff,
                150px 220px 1px 5px #fff,
                140px 220px 1px 5px #fff,
                130px 220px 1px 5px #fff,
                120px 220px 1px 5px #fff,
                110px 220px 1px 5px #fff,
                100px 220px 1px 5px #fff,
                90px 220px 1px 5px #fff,
                80px 220px 1px 5px #fff,
                70px 220px 1px 5px #fff,
                60px 220px 1px 5px #fff,
                50px 220px 1px 5px #fff,
                40px 220px 1px 5px #fff,
                30px 220px 1px 5px #fff,
                20px 220px 1px 5px #fff,
                10px 220px 1px 5px #fff,
                0px 220px 1px 5px #fff,
                -10px 220px 1px 5px #fff,
                -20px 220px 1px 5px #fff,
                -20px 210px 1px 5px #fff,
                -20px 200px 1px 5px #fff,
                -20px 190px 1px 5px #fff,
                -20px 180px 1px 5px #fff,
                -20px 170px 1px 5px #fff,
                -20px 160px 1px 5px #fff,
                -20px 150px 1px 5px #fff,
                -20px 140px 1px 5px #fff,
                -20px 130px 1px 5px #fff,
                -20px 120px 1px 5px #fff,
                -20px 110px 1px 5px #fff,
                -20px 100px 1px 5px #fff,
                -20px 90px 1px 5px #fff,
                -20px 80px 1px 5px #fff,
                -20px 70px 1px 5px #fff,
                -20px 60px 1px 5px #fff,
                -20px 50px 1px 5px #fff,
                -20px 40px 1px 5px #fff,
                -20px 30px 1px 5px #fff,
                -20px 20px 1px 5px #fff,
                -10px 10px 1px 5px #fff,


                200px 210px 1px 5px #fff,
                200px 200px 1px 5px #fff,
                200px 190px 1px 5px #fff,
                200px 180px 1px 5px #fff,
                200px 170px 1px 5px #fff,
                200px 160px 1px 5px #fff,
                190px 150px 1px 5px #fff,
                190px 140px 1px 5px #fff,
                180px 130px 1px 5px #fff,
                170px 120px 1px 5px #fff,
                170px 110px 1px 5px #fff,
                160px 100px 1px 5px #fff,
                150px 90px 1px 5px #fff,
                140px 90px 1px 5px #fff,
                130px 90px 1px 5px #fff,
                120px 90px 1px 5px #fff,
                110px 90px 1px 5px #fff,
                100px 90px 1px 5px #fff,
                90px 90px 1px 5px #fff,
                80px 90px 1px 5px #fff,
                70px 100px 1px 5px #fff,
                60px 110px 1px 5px #fff,
                60px 120px 1px 5px #fff,
                50px 130px 1px 5px #fff,
                40px 140px 1px 5px #fff,
                40px 150px 1px 5px #fff,
                30px 160px 1px 5px #fff,
                30px 170px 1px 5px #fff,
                30px 180px 1px 5px #fff,
                30px 190px 1px 5px #fff,
                30px 200px 1px 5px #fff,
                30px 210px 1px 5px #fff,


                40px 210px 1px 5px var(--pele),
                50px 210px 1px 5px var(--pele),
                60px 210px 1px 5px var(--pele),
                70px 210px 1px 5px var(--pele),
                80px 210px 1px 5px var(--pele),
                90px 210px 1px 5px var(--pele),
                100px 210px 1px 5px var(--pele),
                110px 210px 1px 5px var(--pele),
                120px 210px 1px 5px var(--pele),
                130px 210px 1px 5px var(--pele),
                140px 210px 1px 5px var(--pele),
                150px 210px 1px 5px var(--pele),
                160px 210px 1px 5px var(--pele),
                170px 210px 1px 5px var(--pele),
                180px 210px 1px 5px var(--pele),
                190px 210px 1px 5px var(--pele),
                190px 200px 1px 5px var(--pele),
                180px 200px 1px 5px var(--pele),
                170px 200px 1px 5px var(--pele),
                160px 200px 1px 5px var(--pele),
                150px 200px 1px 5px var(--pele),
                140px 200px 1px 5px var(--pele),
                130px 200px 1px 5px var(--pele),
                120px 200px 1px 5px var(--pele),
                110px 200px 1px 5px var(--pele),
                100px 200px 1px 5px var(--pele),
                90px 200px 1px 5px var(--pele),
                80px 200px 1px 5px var(--pele),
                70px 200px 1px 5px var(--pele),
                60px 200px 1px 5px var(--pele),
                50px 200px 1px 5px var(--pele),
                40px 200px 1px 5px var(--pele),
                40px 190px 1px 5px var(--pele),
                50px 190px 1px 5px var(--pele),
                60px 190px 1px 5px var(--pele),
                70px 190px 1px 5px var(--pele),
                80px 190px 1px 5px var(--pele),
                90px 190px 1px 5px var(--pele),
                100px 190px 1px 5px var(--pele),
                110px 190px 1px 5px var(--pele),
                120px 190px 1px 5px var(--pele),
                130px 190px 1px 5px var(--pele),
                140px 190px 1px 5px var(--pele),
                150px 190px 1px 5px var(--pele),
                160px 190px 1px 5px var(--pele),
                170px 190px 1px 5px var(--pele),
                180px 190px 1px 5px var(--pele),
                190px 190px 1px 5px var(--pele),
                190px 180px 1px 5px var(--pele),
                180px 180px 1px 5px var(--pele),
                170px 180px 1px 5px var(--pele),
                160px 180px 1px 5px var(--pele),
                150px 180px 1px 5px var(--pele),
                140px 170px 1px 5px var(--boca),
                140px 180px 1px 5px var(--pele),
                130px 180px 1px 5px var(--boca),
                120px 180px 1px 5px var(--boca),
                110px 180px 1px 5px var(--boca),
                100px 180px 1px 5px var(--boca),
                90px 170px 1px 5px var(--boca),
                90px 180px 1px 5px var(--pele),
                80px 180px 1px 5px var(--pele),
                70px 180px 1px 5px var(--pele),
                60px 180px 1px 5px var(--pele),
                50px 180px 1px 5px var(--pele),
                40px 180px 1px 5px var(--pele),
                40px 170px 1px 5px var(--pele),
                50px 170px 1px 5px var(--pele),
                60px 170px 1px 5px var(--pele),
                70px 170px 1px 5px var(--pele),
                80px 170px 1px 5px var(--pele),
                90px 170px 1px 5px var(--pele),
                100px 170px 1px 5px var(--pele),
                110px 170px 1px 5px var(--pele),
                120px 170px 1px 5px var(--pele),
                130px 170px 1px 5px var(--pele),
                140px 170px 1px 5px var(--pele),
                150px 170px 1px 5px var(--pele),
                160px 170px 1px 5px var(--pele),
                170px 170px 1px 5px var(--pele),
                180px 170px 1px 5px var(--pele),
                190px 170px 1px 5px var(--pele),
                190px 160px 1px 5px var(--pele),
                180px 160px 1px 5px var(--pele),
                170px 160px 1px 5px var(--pele),
                160px 160px 1px 5px var(--pele),
                150px 160px 1px 5px var(--pele),
                140px 160px 1px 5px var(--pele),
                130px 160px 1px 5px var(--pele),
                120px 160px 1px 5px var(--pele),
                110px 160px 1px 5px var(--pele),
                100px 160px 1px 5px var(--pele),
                90px 160px 1px 5px var(--pele),
                80px 160px 1px 5px var(--pele),
                70px 160px 1px 5px var(--pele),
                60px 160px 1px 5px var(--pele),
                50px 160px 1px 5px var(--pele),
                40px 160px 1px 5px var(--pele),
                40px 150px 1px 5px var(--pele),
                50px 150px 1px 5px var(--pele),
                60px 150px 1px 5px var(--pele),
                70px 150px 1px 5px var(--pele),
                80px 150px 1px 5px var(--olho),
                90px 150px 1px 5px var(--pele),
                100px 150px 1px 5px var(--pele),
                110px 150px 1px 5px var(--pele),
                120px 150px 1px 5px var(--pele),
                130px 150px 1px 5px var(--pele),
                140px 150px 1px 5px var(--pele),
                150px 150px 1px 5px var(--olho),
                160px 150px 1px 5px var(--pele),
                170px 150px 1px 5px var(--pele),
                180px 150px 1px 5px var(--pele),
                190px 150px 1px 5px var(--pele),
                190px 140px 1px 5px var(--pele),
                180px 140px 1px 5px var(--pele),
                170px 140px 1px 5px var(--pele),
                160px 140px 1px 5px var(--pele),
                150px 140px 1px 5px var(--pele),
                140px 140px 1px 5px var(--pele),
                130px 140px 1px 5px var(--pele),
                120px 140px 1px 5px var(--pele),
                110px 140px 1px 5px var(--pele),
                100px 140px 1px 5px var(--pele),
                90px 140px 1px 5px var(--pele),
                80px 140px 1px 5px var(--pele),
                70px 140px 1px 5px var(--pele),
                60px 140px 1px 5px var(--pele),
                50px 140px 1px 5px var(--pele),
                40px 140px 1px 5px var(--pele),
                60px 130px 1px 5px var(--pele),
                70px 130px 1px 5px var(--pele),
                80px 130px 1px 5px var(--pele),
                90px 130px 1px 5px var(--pele),
                100px 130px 1px 5px var(--pele),
                110px 130px 1px 5px var(--pele),
                120px 130px 1px 5px var(--pele),
                130px 130px 1px 5px var(--pele),
                140px 130px 1px 5px var(--pele),
                150px 130px 1px 5px var(--pele),
                160px 130px 1px 5px var(--pele),
                170px 130px 1px 5px var(--pele),
                160px 120px 1px 5px var(--pele),
                150px 120px 1px 5px var(--pele),
                140px 120px 1px 5px var(--pele),
                130px 120px 1px 5px var(--pele),
                120px 120px 1px 5px var(--pele),
                110px 120px 1px 5px var(--pele),
                100px 120px 1px 5px var(--pele),
                90px 120px 1px 5px var(--pele),
                80px 120px 1px 5px var(--pele),
                70px 120px 1px 5px var(--pele),
                70px 110px 1px 5px var(--pele),
                80px 110px 1px 5px var(--pele),
                90px 110px 1px 5px var(--pele),
                100px 110px 1px 5px var(--pele),
                110px 110px 1px 5px var(--pele),
                120px 110px 1px 5px var(--pele),
                130px 110px 1px 5px var(--pele),
                140px 110px 1px 5px var(--pele),
                150px 110px 1px 5px var(--pele),
                160px 110px 1px 5px var(--pele),
                150px 100px 1px 5px var(--pele),
                140px 100px 1px 5px var(--pele),
                130px 100px 1px 5px var(--pele),
                120px 100px 1px 5px var(--pele),
                110px 100px 1px 5px var(--pele),
                100px 100px 1px 5px var(--pele),
                90px 100px 1px 5px var(--pele),
                80px 100px 1px 5px var(--pele),


                0px 10px 1px 5px var(--interior),
                10px 10px 1px 5px var(--interior),
                20px 10px 1px 5px var(--interior),
                30px 10px 1px 5px var(--interior)
                ;
}